{% extends 'base.html.twig' %}

{% block title %}Commenter {{ livre.titre }} - BiblioConnect{% endblock %}

{% block body %}
<div class="page-card" style="max-width: 720px; margin: 0 auto;">
    <div class="section-heading">
        <div>
            <h1>Rédiger un avis</h1>
            <p class="small-text">Partagez votre retour sur ce livre avec la communauté.</p>
        </div>
    </div>

    {{ form_start(commentForm) }}
        {{ form_row(commentForm.note) }}
        {{ form_row(commentForm.contenu) }}
        <button class="btn btn-primary" type="submit">Publier l'avis</button>
    {{ form_end(commentForm) }}
</div>
{% endblock %}
